<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=org.apache.maven.archetypes"/>
        <listEntry value="archetypeArtifactId=maven-archetype-webapp"/>
        <listEntry value="archetypeVersion=1.5"/>
        <listEntry value="groupId=com.example"/>
        <listEntry value="artifactId=spring-test-web"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=war"/>
        <listEntry value="outputDirectory=C:\Users\솔루션통합지원1팀-신은빈사원\Desktop\업무\3. COVER\2. 테스트 코드\JAVA\데드코드 테스트"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\솔루션~1\AppData\Local\Temp\m2e-archetypeGenerator8726750170706250254"/>
</launchConfiguration>
